body {
    min-width: 640px;
    min-height: 400px;
    padding-top: 20px; 
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.color-grey {
    color: #808080;
}

.text-bold {
    font-weight: bold;
}

.new-line {
    white-space: pre-line;
}

div [class*="left floated"] {
    float: left;
    margin-left: 0.25em;
}

div [class*="right floated"] {
    float: right;
    margin-right: 0.25em;
}